<div class="calendar-day" 
     [class.is-other-month]="isOtherMonth()" 
     [class.is-today]="isToday()"
     [class.is-weekend]="isWeekend()"
     [class.is-current-week]="isCurrentWeek()"
     [class.is-selected]="isSelected"
     (click)="onDayClick()">
  
  <div class="day-header">
    <span class="day-number">{{ dayNumber }}</span>
  </div>

  <div class="day-posts">
    @for (iconInfo of displayIcons(); track iconInfo.id) {
      <div class="platform-icon-wrapper">
        <img *ngIf="iconInfo.icon" [src]="iconInfo.icon" [alt]="iconInfo.platform" class="platform-icon">
      </div>
    }
    @if (extraCount() > 0) {
      <div class="extra-count">+{{ extraCount() }}</div>
    }
  </div>

</div>
